body{
    background-color: antiquewhite;
}

.custom1{
  position: absolute;
  top: 80px;
  left: 200px;
  width: 1500px;
  border: 5px solid;
}
.custom2{
  position: absolute;
  top: 1800px;
  left: 200px;
  width: 1500px;
  border: 5px solid;
}