body{
    background-color: antiquewhite;
}
.custom2{
  position: absolute;
  top: 80px;
  left: 170px;
  width: 1500px;
  border: 5px solid;
}
.custom1{
  position: absolute;
  top: 2200px;
  left: 170px;
  width: 1500px;
  border: 5px solid;
}