body{
    background-color: antiquewhite;
}
.custom1{
  position: absolute;
  top: 100px;
  left: 900px;
  width: 610px;
  border: 5px solid;
}
.custom2{
  position: absolute;
  top: 100px;
  left: 300px;
  width: 539px;
  border: 5px solid;
}