#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit:cover;
  z-index: -1; 
}
h2{
    font-family: 'Sanskrit Text', 'Devanagari Sangam MN', serif; 
    font-size: 30px;
    color: #fff;                            
    text-shadow: 2px 2px 10px #ff4500, 0 0 20px #ff6347;        
    background: rgba(2, 2, 2, 0.5);        
    padding: 20px 30px;
    border: 3px solid #ffcc00;
    border-radius: 20px;
    display: inline-block;
    animation: pulse 2s infinite ease-in-out;
    margin-left: 830px;

}