body{
    background-color: antiquewhite;
}
.custom1{
  position: absolute;
  top: 80px;
  left: 970px;
  width: 900px;
  border: 5px solid;
}
.custom2{
  position: absolute;
  top: 80px;
  left: 40px;
  width: 800px;
  border: 5px solid;
}